
##
# Base Settings
##

common --experimental_allow_incremental_repository_updates

build --incompatible_disable_deprecated_attr_params=false
build --incompatible_no_support_tools_in_action_inputs=false

build --watchfs
build --incompatible_depset_union=false
build --verbose_failures
build --sandbox_debug
build --strategy=J2cl=worker
build --strategy=Closure=worker
build --strategy=TypeScriptCompile=worker
build --experimental_persistent_javac

build --symlink_prefix=dist/

build --spawn_strategy=local

query --output=label_kind
query --incompatible_disable_deprecated_attr_params=false

run --incompatible_disable_deprecated_attr_params=false

test --test_output=errors

test:debug --test_arg=--node_options=--inspect-brk --test_output=streamed --test_strategy=exclusive --test_timeout=9999 --nocache_test_results

